# Python
__pycache__/
*.pyc
venv/
env/
.tox/

# setup.py
dist/
build/
*.egg-info/

# pytest
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Docs
docs/_build

# Data
*.h5
*.npy
*.npz

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz

# Jupyter
*.ipynb
