# Python
__pycache__/
*.pyc
venv/
env/
.tox/
.nox/
.doit.db

# build
dist/
build/
*.egg-info/
src/acconeer/exptool/_version.py

# pytest
.pytest_cache/

# VS Code
.vscode/

# PyCharm
.idea/

# Docs
docs/_build

# Data
*.h5
*.npy
*.npz
*.pickle

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz

# Jupyter
*.ipynb

# Jenkins
stash/

# mypy
.mypy_cache/

# git
*.orig
