@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

@media only screen and (max-width: 768px) {
    figure img {
        width: initial !important;
    }
}

:root {
    --sd-color-primary: #2888a9 !important;                              /* Teal from header links on acconeer.com */
    --sd-color-secondary: #57c9f4 !important;                            /* Teal from the logo*/
    --sd-color-primary-highlight: var(--sd-color-secondary) !important;  /* Used when hovering buttons */
    --sd-color-secondary-highlight: var(--sd-color-primary) !important;  /* Used when hovering buttons */
    --pst-color-primary: var(--sd-color-primary) !important;
    --pst-color-secondary: var(--sd-color-secondary) !important;
    --pst-font-family-heading: "Spinnaker", var(--pst-font-family-base);
}

h1, h2 {
    font-weight: bold;
    color: #1b4d64;
}

.center {
    text-align: center;
}
